*{
    margin: 0px;
    padding: 0px;
}

body,main{
    background-color: #62000d,#64000e;
    background:linear-gradient(#62000d,#64000e,#5b000f,#5b000f);
}

header{
    background-image: url(IMAGES/CARDÃPIO\ PIZZARIA\ K3.pdf_20250824_045222_0000_page-0001.jpg);
    width: 100%;
    height: 50px;
}

header>h1#name{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

main>h2#cardapio{
   color: white;
   font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

main>h1#pedidos{
     color: white;
   font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}


img.img1{
    display:flex;
    margin: auto;
   justify-content: center;
   align-items: center;
    width: 350px;
    height: 350px;
}

div#div2{
     background-color: white;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}

div#div2>h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3px;
}

div#div2>p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div#div1{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
}

div#div1>h2#fazerPedido{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 7px;
}

div>h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 7px;
}

div>label.labels{
    justify-content: center;
    display: flex;
    text-align: center;
}

div>textarea#pedido{
   margin: auto;
   display: block;
   width: 290px;
   height: 110px;
   border-radius: 10px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
}

div>input#endereco{
    margin: auto;
   display: block;
   width: 250px;
   height: 110px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#cep{
    margin: auto;
   display: block;
   width: 250px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#rua{
     margin: auto;
   display: block;
   width: 280px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#bairro{
     margin: auto;
   display: block;
   width: 280px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#referencia{
     margin: auto;
   display: block;
   width: 280px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#TROCO{
     margin: auto;
   display: block;
   width: 280px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}


div>input#obs{
      margin: auto;
   display: block;
   width: 250px;
   height: 40px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}


div>select#pagamento{
    margin: auto;
   display: block;
   width: 250px;
   height: 50px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>button{
    margin: auto;
   display: block;
   width: 250px;
   height: 50px;
   border-radius: 20px;
   border: none;
   background-color: #2ebc44;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

