*{
    margin: 0px;
    padding: 0px;
}

body,main{
    background-color: #62000d,#64000e;
    background:linear-gradient(#62000d,#64000e);
}

header{
    background-image: url(IMAGES/CARDÃPIO\ PIZZARIA\ K3.pdf_20250824_045222_0000_page-0001.jpg);
    width: 100%;
    height: 50px;
}

header>h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

main>h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


img.img1{
    display:flex;
    margin: auto;
   justify-content: center;
   align-items: center;
    width: 350px;
    height: 350px;
}

div#div2{
     background-color: white;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}

div#div2>h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3px;
}

div#div2>p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div#div1{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}

div>h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 7px;
}

div>label.labels{
    justify-content: center;
    display: flex;
    text-align: center;
}

div>input#pedido{
   margin: auto;
   display: block;
   width: 250px;
   height: 40px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>input#endereco{
    margin: auto;
   display: block;
   width: 250px;
   height: 40px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>select#pagamento{
    margin: auto;
   display: block;
   width: 250px;
   height: 40px;
   border-radius: 20px;
   border: none;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

div>button{
    margin: auto;
   display: block;
   width: 250px;
   height: 40px;
   border-radius: 20px;
   border: none;
   background-color: #2ebc44;
   border:solid rgba(128, 128, 128, 0.582);
    text-align: center;
}

