*{
    margin: 0px;
    padding: 0px;
}

body,main{
    background-color: #62000d,#64000e;
    background:linear-gradient(#62000d,#64000e);
}

header{
    background-image: url(IMAGES/CARDÃPIO\ PIZZARIA\ K3.pdf_20250824_045222_0000_page-0001.jpg);
    width: 100%;
    height: 50px;
}

header>h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

main>h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


img.img1{
    display:flex;
    margin: auto;
   justify-content: center;
   align-items: center;
    width: 350px;
    height: 350px;
}